* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cart-widget {
  text-decoration: none;
}
a {
  text-decoration: none !important;
}
.navbar-brand {
  text-decoration: none !important;
}
.me-auto {
  justify-content: space-between;
}
